@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@100;300;400;500&display=swap');

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto';
}

.btn {
  background: rgb(127, 247, 201);
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 25px;
  margin-left: 10px;
}

.list-item {
  list-style: none;
  display: flex;
  align-items: center;
  height: 70px;
}

.task {
 padding-right: 10px;
}

.btn-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.editing .edit-item {
  display: none;
}

.editing .save-item {
  display: block
}

.editing .edit-input {
  display: block
}

.edit-input {
  display: none;
}

.save-item {
  display: none;
}

.task-hidden {
  display: none;
}